<h1>About Bike Berlin</h1>

<p>best source to find used bikes in Berlin</p>
<p>Feel free to explore our products and to contact us if you come up with a question. We would like to help you to find your new bike which you are going to love while riding trough the streets of Berlin.</p>

<%= link_to 'Contact Section', contact_path %><br>

<%= link_to 'Back', products_path %>