<h1>Welcome to Bike Berlin</h1>
<h2>Your source for used bikes in Berlin</h2>

<p><%= link_to 'Find our new featured products here', caroussel_path %></p>

<%= image_tag("hollandrad.jpg", class: "img-responsive") %>

<p>The date and time is <%= Time.now %></p>