// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #d7ccc8;
  padding-top: 50px;
}

.navbar {
  background-color: #5d4037;
}

.navbar .home > a{
  text-decoration: none;
  color: #d7ccc8;
  text-transform: uppercase;
}

.navbar .nav > li > a {
  color: #d7ccc8;
  text-transform: uppercase;
}

h1 {
  color: #5d4037;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  text-align: center;
}

h2 {
  color: #5d4037;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}


footer {
  background-color: #5d4037;
  height: 50px;
  color: #d7ccc8;
}

#copyright {
  text-align: center;
}